@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

html {
	overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

html, body {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: Helvetica;
	background: url(../img/debut_dark.png);
	color: #fff;
}



/*========================================
*   Global classes
*========================================*/

.hidden {
	display: none;
}

span.title {
    display: block;
    width: 100%;
	float: left;
	clear: both;
	font-size: 27pt;
}

.title a {
	color: #FFF;
}


/*========================================
*   Header
*========================================*/


#navigation {
	font-family: Droid Sans;
	position: absolute;
	width: 70%;
	margin: 0px 15% 0px 15%;
	
}

#navigation a {
	text-decoration: none;
	color: #fff;
}

#navigation ul {
	position: relative;
	top: 0px;
	margin: 0px;
	float: left;
	list-style: none;
	font-size: 17pt;
}

#navigation > ul li {
	margin-left: 6px;
	float: left;
}

#mainnav a {
	display: block;
	text-align: center;
}

#logo {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

#logo a {
	font-weight: bold;
	font-size: 19pt;
}

#header {
	background: #575757;
	width: 100%;
	height: 50px;
	box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-o-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
}

.divlink {
	display: block;
	width: 120px;
	height: 50px;
}

.navtopline {
	display: block;

	background-color: #8c8c8c;
	width: 100%;
	height: 5px;
}

.navtext {
	display: block;
	margin-top:8px;
}

.navarrow {
	position: relative;
	top: -3px;
	left: 5px;
	font-size: 12pt;
	color: #b8b8b8;
}

.navarrow:hover {
	position: relative;
	color: #cccccc;
}

#mainnav a:hover .navhighlight{
	display: block;
	margin-top: -33px;

	background-color: #6b6b6b;
	width: 100%;
	height: 42px;
}

div.login {
	display: block;
	float: right;
	margin: 16px 25px 0px 0px;
}

#cart span {
	float: right;
	width: 25px;
	height: 25px;
	margin-top: -3px;
	margin-left: 5px;
	border: 2px solid #6f6f6f;
	background: #484848 url(../img/glyphs/buy.png);
	background-size: 19px 19px;
	background-position: 3px 3px;
	background-repeat: no-repeat;
}


a#logout{
	font-size: 10pt;
	text-decoration: underline;
	margin-left: 10px;
}

ul#subnav {
	z-index: 90000;
	position: absolute;
	top:50px;
	left: 0px;
}

#subnav li {
	position: relative;
	float: left;
	clear: both;
	width: 200px;
	height: 30px;
	margin-left: -20px;
	background: #484848;
	padding: 10px 10px 5px 20px;
	border: 1px solid #3f3f3f;
}

#subnav a {
	text-align: left;
}


/*========================================
*   Main Content
*========================================*/

#content {
	margin: 20px auto 0px auto;
	width: 70%;
}


/*========================================
*   Top Content
*========================================*/

.topContent {
	margin: 20px 0px 0px 0px;
	float: left;
	clear: both;
	width: 100%;
}

.topContent .col1{
	background: #494949;
	border: 2px solid #6f6f6f;
	float: left;
	width: 60%;
	box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-o-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
}

.topContent .col2{	
	background: #6f6f6f;
	border: 2px solid #6f6f6f;
	float: right;
	width: 37.5%;
	box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-o-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
}

.bottomContent {
	margin: 0px 2px 50px 0px;
	float: left;
	clear: both;
	width: 100%;
}

.previewDetails {
	position: relative;
	float: left;
	background: #494949;
	margin-top: 2px;
	z-index: 1000;
	min-height: 110px;
	padding-bottom: 20px;
	width: 100%;
}

.previewName {
	border: 2px solid #6f6f6f;
	background: #494949;
	width: auto;
	height: 25px;
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 90px;
	text-align: center;
	float: left;
	position: relative;
	left:50px;
	top: -20px;
	font-size: 15pt;


	box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-o-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
}

.previewCategory {
	border: 2px solid #6f6f6f;
	background: #494949;
	width: auto;
	height: 25px;
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	float: right;
	position: relative;
	right:50px;
	top: -20px;
	font-size: 15pt;

	box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-o-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
}

.previewRating {
	border: 2px solid #6f6f6f;
	background: #494949;
	width: auto;
	height: 25px;
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	float: right;
	position: relative;
	right:50px;
	top: -20px;
	font-size: 15pt;

	box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-o-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
}

.previewDescription {
	min-height: 90px;
	width: 90%;
	float: left;
	margin-left: 5%;
}

span.forum-icon {
	float: left;
	display: block;
	background: url(../img/glyphs/comments.png);
	background-position: 3px 3px;
	background-size: 19px 19px;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;	
}

span.forum {
	width: 100%;
	font-size: 12pt;
	bottom: 3px;
	color: #cccccc;
	text-align: center;
}


.previewForum {
	color: #FFF;
	text-decoration: none;
	border: 2px solid #6f6f6f;
	background: #1D6DB1;
	width: auto;
	height: 25px;
	min-width: 100px;
	text-align: center;
	float: right;
	position: absolute;
	left:50px;
	bottom: -12px;
	font-size: 15pt;

	box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-o-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
}


/* Preview bottom right platform widget */

.previewPlatform {
	border: 2px solid #6f6f6f;
	background: #494949;
	width: auto;
	height: 25px;
	float: right;
	min-width: 20px;
	position: absolute;
	right:50px;
	bottom: -12px;
	font-size: 15pt;

	box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-o-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
}

.previewDownload {
	color: #cccccc;
	background: #197500;
	float: left;
	height: 19px;
	padding: 3px;
}

.previewDownload span {
	font-size: 12pt;
	display: inline-block;
	margin-left: 10px;
	position: relative;
	bottom: 3px;
	padding-right: 4px;
}

.previewDownload img {
	width: 19px;
	height: 19px;
}

.platforms {
	height: 25px;
	float: left;
	background: #363636;
}

.platforms .platform-windows {
	display: inline-block;
	background: #3f3f3f url(../img/glyphs/windows.png);
	background-size: 19px 19px;
	background-repeat: no-repeat;
	background-position: 3px 3px;
	margin-left: 2px;
	width: 25px;
	height: 25px;
	float: left;
}

.platforms .platform-mac {
	display: inline-block;
	background: #3f3f3f url(../img/glyphs/mac.png);
	background-size: 19px 19px;
	background-repeat: no-repeat;
	background-position: 3px 3px;
	margin-left: 2px;
	width: 25px;
	height: 25px;
	float: left;
}

.platforms .platform-linux {
	display: inline-block;
	background: #3f3f3f url(../img/glyphs/linux.png);
	background-size: 19px 19px;
	background-repeat: no-repeat;
	background-position: 3px 3px;
	margin-left: 2px;
	width: 25px;
	height: 25px;
	float: left;
}

.download-text {
	height: 21px;
	float: left;
	padding: 4px 8px 0px 8px;
	background: #197500;
	font-size: 17px;
	color: #cccccc;
}

/* Offers sidebar */

.offersHeader {
	font-size: 16pt;
	background: #494949;
	width: 100%;
	padding-bottom: 5px;
}

.offersHeader span {
	display: inline-block;
	margin-left: 50px;
	margin-top: 8px;
}

.moreOffers {
	float: left;
	display: block;
	margin-top: 2px;
	background: #494949;
	width: 100%;
	height: 30px;
}

.moreOffers span {
	color: #FFF;
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-top: 7px;
}

ul.offersList {
	float: left;
	display: block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.offersList li {
	float: left;
	display: block;
	margin-top: 2px;
	background: #494949;
	padding: 2px;
}

div.offerLeftPart {
	display: block;
	width: 55%;
	float: left;
	position: relative;
}

.offerLeftPart img {
	width: 100%;
}

div.offerRightPart {
	width: 40%;
	display: block;
	float: left;
}

span.offerPrice {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: rgba(60, 60, 60, 0.8);
	text-transform: uppercase;
	padding: 2px 5px 2px 5px;
}

.offerRightPart span.offerNameWrap {
	display: block;
	height: 70%;
	margin-top: 10px;
}

a.clearLink {
	color: white;
}

span.offerNameWrap a {
	color: #FFF;
	text-decoration: none;
}

.offerRightPart span.offerName {
	text-align: center;
	vertical-align: middle;
	display: block;
}

.offerRightPart div.offerPlatforms {
	display: block;
	text-align: center;
	height: 30%;
	width: 100%;
	margin-left: 23%;
	float: left;
}

.offerRightPart div.offerPlatformsCell {
	height: 100%;
	display: block;
	margin: auto;
	float: left;
	clear: both;
	/*Padding za platforimite*/
	margin-top: 20px;
	border: 2px solid #6f6f6f;
	box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-o-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
}

.offerRightPart div.offerPlatforms {
	display: block;
	float: left;
	width: 100%;
}

.commentArea {
	margin-top: 30px;
}

.commentArea h3 {
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.comments {
}

.comments .row {
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 10px;
	width: 94%;
	border-top: 1px solid #6f6f6f;
	border-bottom: 1px solid #333333;
}

.ratingArea {
	margin-top: 30px;
}

.ratingArea input[name=rating] {
	margin-left: 5px;
}

.ratingStar {
	width: 26px;
	height: 26px;
	margin-right: 5px;
	float: left;
	display: block;
	background: url(../img/glyphs/star_filled.png)
}

/*.offerRightPart a.offerDownload {
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	background: #197500 url(../img/glyphs/download.png);
	background-size: 19px 19px;
	background-position: 3px 3px;
	background-repeat: no-repeat;
}*/


/*========================================
*   Middle Content
*========================================*/

#midContent {
	margin-top: 20px;
	margin-bottom: 50px;
	border: 2px solid #6f6f6f;
	width: 100%;
	float: left;
	clear: both;
	background-color: #484848;
	box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-o-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
}

/*========================================
*   Middle Content Tabs
*========================================*/

div.tabs {
	text-align: center;
}

div.tabs>a {
	color: #FFF;

}

div.tabs>a>div {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 0.1%;
	margin-right: 0.1%;
	position: relative;
	float: left;
	width: 33.1%;
	text-align: center;
	background: #333333;
}

div.tabs>a>div:hover {
	background: #525252;
}

div.tabs .active {
	background: #5c5c5c;
}

div.tabs .tabText {
	margin-top: 5px;
	margin-left: 8px;
	vertical-align: top;
	display: inline-block;
	text-transform: uppercase;
}

div.tabs .icon {
	display: inline-block;
	width: 25px;
	height: 25px;
}

div.tabs .windows .icon {
	background: url(../img/glyphs/windows.png);
	background-size: 19px 19px;
	background-position: 3px 3px;
	background-repeat: no-repeat;
}

div.tabs .linux .icon {
	background: url(../img/glyphs/linux.png);
	background-size: 19px 19px;
	background-position: 3px 3px;
	background-repeat: no-repeat;
}

div.tabs .mac .icon {
	background: url(../img/glyphs/mac.png);
	background-size: 19px 19px;
	background-position: 3px 3px;
	background-repeat: no-repeat;
}


/*========================================
*   Tab content
*========================================*/

div.grid {
	float: left;
	width: 100%;
} 

@media all and (min-width: 1591px) {
	div.tile {
		width: 24.3%;
	}
}
@media all and (max-width: 1591px) {
	div.tile {
		width: 32.6%;
	}
}
div.tile {
	float: left;
	background: #212121;
	margin-left: 0.35%;
	margin-right: 0.35%;
	margin-top: 0.25%;
	margin-bottom: 0.25%;
}

div.tile img{
	width: 100%;
}

div.tileDetails {
	width: 100%;
	text-align: center;
}

div.tileDetails div.name {
	font-size: 16pt;
	margin-top: 10px;

}

div.tileDetails div.price {

	float: left;
	border: 2px solid #6f6f6f;
	margin: 15px 10px 10px 10px;
	padding: 5px 15px 3px 15px;
	background-color: #484848;

	box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-webkit-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-moz-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-o-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);

}

div.totalPrice {
	float: left;
	border: 2px solid #6f6f6f;
	margin: 15px 10px 10px 10px;
	padding: 5px 15px 3px 15px;
	background-color: #484848;

	box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-webkit-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-moz-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-o-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
}

div.buyGames {
	float: left;
	border: 2px solid #6f6f6f;
	margin: 15px 10px 10px 10px;
	padding: 5px 15px 3px 15px;
	background-color: #197500;

	box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-webkit-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-moz-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-o-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
}

div.tileDetails div.platforms {	
	float: right;
	height: 25px;
	border: 2px solid #6f6f6f;
	margin: 15px 10px 10px 10px;
	box-shadow: 0 1px 10px rgba(130, 130, 130,.7);

	-webkit-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-moz-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-o-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
}

div.tileDetails div.remove {

	float: right;
	border: 2px solid #6f6f6f;
	margin: 15px 10px 10px 10px;
	padding: 5px 15px 3px 15px;
	background-color: #484848;

	box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-webkit-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-moz-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-o-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);

}

span.download {	
	float: left;
	width: 25px;
	height: 25px;
	background: #197500 url(../img/glyphs/download.png);
	background-size: 19px 19px;
	background-position: 3px 3px;
	background-repeat: no-repeat;
}


span.buy {	
	float: left;
	width: 25px;
	height: 25px;
	background: #197500 url(../img/glyphs/buy.png);
	background-size: 19px 19px;
	background-position: 3px 3px;
	background-repeat: no-repeat;
}



/*========================================
*   Devs Games Page
*========================================*/


a.devGames {
	float: right;
	color: #FFF;
	text-decoration: none;
	display: inline-block;
	border: 2px solid #6f6f6f;
	margin: 10px 10px 10px 10px;
	padding: 5px 15px 3px 15px;
	background-color: #484848;
	box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-webkit-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-moz-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
	-o-box-shadow: 0 1px 10px rgba(130, 130, 130,.7);
}

/*========================================
*   Devs Page
*========================================*/

div.textDetails {
	float: left;
}

div.textDetails img {
	width:40%;
	float:left;
	margin: 20px;
}

div.textDetails p {
	margin: 40px;
}

div.devName {
	float: left;
	margin: 14px 10px 10px 10px;
	display: inline-block;
	font-size: 16pt;
}

span.devGamesTitle {
	margin-top: 60px;
}

.tileDetails a{
	color: #FFF;
	text-decoration: none;
}

/*========================================
*   Forum Page
*========================================*/

.row {
	width: 100%;
}

a.category {
	border-bottom: 2px solid #363636;
	display: block;
	padding: 7px 3px 3px 15px;
	font-size: 20pt;
	color: #FFF;
	text-decoration: none;
}


div.post {
	padding: 20px;
	border-bottom: 2px solid #363636;
}

div.newPostWrap {
	margin: 20px;
}

div.newPostWrap span {
	margin-left: 20%;
}

div.newPostWrap textarea {
	margin-left: 3%;
	width: 50%;
	height: 150px;
}

div.newThreadWrap {
	margin: 20px;
}

div.newThreadWrap label {
	display: inline-block;
	width: 100px;
}

div.newPostWrap textarea {
	margin-left: 3%;
	width: 50%;
	height: 150px;
}

a.username {
	color: #FFF;
	margin: 20px;
}

a.gamelink {
	color: #FFF;
	margin: 20px;
}

div.forumNavigation {
	width: 104px;
	height: 50px;
	background: #484848;
	float: right;
	box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-o-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
}

div.forumNavigation > a {
	color: #FFF;
	text-decoration: none;
	display: block;
	width: 48px;
	height: 48px;
	border: 2px solid #6f6f6f;	
	text-align: center;
	font-size: 34pt;
}

a.previousPage {
	float: left;
}
a.nextPage {
	float: right;
}

div.postActions {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

span.deleteIcon {
	display: block;
	width: 25px;
	height: 25px;
	background: url(../img/glyphs/delete.png)
}


/*========================================
*   Login Page
*========================================*/

div.loginForm {
	width: 50%;
	margin: 0px 25% 0px 25%;
	float: left;
	border: 2px solid #6f6f6f;
	background-color: #484848;
	box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
	-o-box-shadow: 0 1px 10px rgba(0, 0, 0,.7);
}

div.loginForm div.row {
	margin: 20px 0 20px 0;
	float: left;
}

div.loginForm label {
	float: left;
	margin: 10px 10px 0px 25%;
}

div.loginForm input {
	float: right;
	margin: 9px 25% 0px 10px;
}

input#submit {
	float: left;
	margin-left: 40%;
	width: 20%;
	text-align: center;
}


/*========================================
*   User Page
*========================================*/

.row#username {
	margin: 20px 0 10px 40px;
	font-size: 24pt;
}

.row#gamesOwned {
	margin: 20px 0 10px 40px;
	font-size: 20pt;
}