extends base.jade


block content
	div.topContent
		span.title New Arrivals
	div#midContent
		div.tabContent
			div.tile
				img(src="#{STATIC_URL}img/test/mirrorsedge.jpg")
				div.tileDetails
					div.name Mirror's Edge
					div.price Free to Play
					div.platforms
						a(href="google.com")
							span.download
						span.platform-windows
						span.platform-linux
						span.platform-mac
			