extends base.jade

|{% load kwacros %}
|{% loadkwacros macros.html %}
block content
	div.topContent
		span.title Add amount to account {{ loggedUser.username }}
		span Current amount: {{ loggedUser.credit }}
	div.topContent
		|{% usekwacro moneyfield %}