|{% load kwacros %}
!!! 5
html(lang="en")
	head
		title Dingus ferrari.
		link(rel= 'stylesheet', href= '#{STATIC_URL}css/normalize.css')
		link(rel= 'stylesheet', href= '#{STATIC_URL}css/style.css')
		link(rel= 'stylesheet', href= '#{STATIC_URL}css/flexslider.css')
		script(type= 'text/javascript', src= '#{STATIC_URL}js/jquery.min.js')
		script(type= 'text/javascript', src= '#{STATIC_URL}js/jquery.flexslider.js')
		script(type= 'text/javascript', src= '#{STATIC_URL}js/global.js')
	body
		div#header
			block header
				div#navigation
					div#logo
						a(href="{% url 'store.views.index' %}") Dingus
					ul#mainnav
						li
							a(href="{% url 'store.views.gamesRoot' %}").hasDropdown
								div(class="divlink")
									span(class="navtopline")
									span(class="navtext") Games
										span(class="navarrow") &#9660;
									span(class="navhighlight")
							ul#subnav.hidden
								li
									div.row 
										a(href="/games/genre/Casual") Casual
								li
									div.row 
										a(href="/games/genre/Multiplayer") Multiplayer
								li
									div.row 
										a(href="/games/genre/Single") Single
								li
									div.row 
										a(href="/games/genre/FPS") FPS
								li
									div.row 
										a(href="/games/genre/Indie") Indie
						li
							a(href="{% url 'store.views.devs' %}")
								div(class="divlink")
									span(class="navtopline")
									span(class="navtext") Devs
									span(class="navhighlight")
						li
							a(href="{% url 'store.views.publishers' %}")
								div(class="divlink")
									span(class="navtopline")
									span(class="navtext") Publishers
									span(class="navhighlight")
						li
							a(href="{% url 'store.views.stats' %}")
								div(class="divlink")
									span(class="navtopline")
									span(class="navtext") Stats
									span(class="navhighlight")
					|{% if request.session.username != None %}

					div.login
						a(href="{% url 'store.views.user' request.session.userId %}") {{ request.session.username }}  
						a(href="{% url 'store.views.logout' %}")#logout (logout)
						a#cart(href="/cart")
							span
					|{% else %}
					div.login
						a(href="{% url 'store.views.login' %}") Login
					|{% endif %}

		div#content	
			block content
