extends base.jade

{% load kwacros %}
{% loadkwacros macros.html %}

block content
	div.topContent
		span.title Cart
		a(href="clearCart").clearLink
			|Clear cart
	div#midContent
		div.tabContent
			each game in cartGames
				|{% usekwacro cartTile game %}
		div.tabContent
			
			{% if totalPrice > 0 %}
			div.totalPrice Total price: ${{ totalPrice }}
			div.totalPrice After purchase: ${{ moneyLeft }}
			a(href="/cart/buyGames").clearLink
				div.buyGames BUY
			{% else %}

			div.totalPrice No games in cart

			{% endif %}
