extends base.jade

block content
	div.topContent
		span.title 
			a(href="{% url 'store.views.forum' category.forum.game.name %}")
				|#{category.forum.game.name} forum
			|>#{category.name}
	div#midContent
		div.tabContent
			|{% if threads %}
			each thread in threads
				div.row
					- if isAdmin
						div.postActions
							a(href="{% url 'store.views.deleteThread' thread.id %}").deleteLink
								span.deleteIcon
					a(href="{% url 'store.views.thread' thread.id 0 %}").category #{thread.name}
			|{% else %}
			div.row
				span.title No threads
			|{% endif %}
			div.row
				div.newThreadWrap
					span New thread
					form(action="{% url 'store.views.createThread' forum.id %}", method="POST")
						| {% csrf_token %}
						label(for="title") Title:
						input(type="text", name="title")
						br
						label(for="content") Content:
						textarea(name="content")
						br
						input(type="submit", value="Start thread!")