extends base.jade

block content
	div.topContent
		span.title Confirm order
	div#midContent
		div.tabContent

			ul
				each game in cartGames
					li {{ game.name }}     ${{ game.price }}

			div.totalPrice Total price: ${{ totalPrice }}
			div.totalPrice After confirm: ${{ moneyLeft }}

			{% if loggedUser.credit >= totalPrice %}
			a(href="/cart/buyGames/confirm").clearLink
				div.buyGames Confirm
			a(href="/cart").clearLink
				div.buyGames Decline
			{% else %}
			a(href="/cart").clearLink
				div.buyGames Not enough credits ${{ loggedUser.credit }}$
			{% endif %}
