extends base.jade

{% load kwacros %}
{% loadkwacros macros.html %}

block content
	div.topContent
		span.title {{dev.name}}
	div.topContent
		div.col1
			div.textDetails
				img(src="{{dev.logo.url}}")
				p.info
					{{dev.description}}

		div.specialOffers.col2
			div.offersHeader
				span Popular Games by {{dev.name}}
			ul.offersList
				each game in populargames
					|{% usekwacro rightGameTile game %}

			a(href="google.com").moreOffers
				span More Popular games
	span.title.devGamesTitle Games by this developer
	|{% usekwacro tabs wingames linuxgames macosgames %}


	script(type='text/javascript', src='#{STATIC_URL}js/index.js')