extends base.jade

block content
	div.topContent
		span.title Devs
	div#midContent
		each dev in devs
			div.tile
				a(href="{% url 'store.views.dev' dev.name %}")
					img(src="#{dev.logo.url}")
				div.tileDetails
					a(href="{% url 'store.views.dev' dev.name %}")
						div.devName {{dev.name}}
					a(href="{% url 'store.views.dev' dev.name %}").devGames Games
		