extends base.jade

block content
	div.topContent
		span.title #{game.name} forum
	div#midContent
		div.tabContent
			each category in categories
				div.row
					- if isAdmin
						div.postActions
							a(href="{% url 'store.views.deleteCategory' category.id %}").deleteLink
								span.deleteIcon
					a(href="{% url 'store.views.forumCategory' game.name category.name %}").category= category
			div.row
				div.newThreadWrap
					span New category
					form(action="{% url 'store.views.createCategory' forum.id %}", method="POST")
						| {% csrf_token %}
						label(for="title") Title:
						input(type="text", name="title")
						br
						label(for="content") Description:
						textarea(name="content")
						br
						input(type="submit", value="Create category!")