extends base.jade

{% load kwacros %}
{% loadkwacros macros.html %}

block content
	div.topContent
		span.title #{title}
	div#midContent
		div.tabContent
			each game in games
				|{% usekwacro gameTile game %}
				