extends base.jade

|{% load kwacros %}
|{% loadkwacros macros.html %}

block content
	div.topContent
		span.title #{game.name}
	div.topContent
		div.col1
			|{% usekwacro screenshot game hasGame %}

		div.specialOffers.col2
			div.offersHeader
				span Similar Games
			ul.offersList
				each game in similar
					|{% usekwacro rightGameTile game %}
			a(href="/games").moreOffers
				span More Similar Games
		div.col1.commentArea
			h3 Comments
			div.comments
				each comment in comments
					div.row 
						div.userInfo
							a(href="hehe").username #{comment.user.username}
							span.time #{comment.timePosted}
						p.postContent #{comment.content}
				if request.session.userId
					div.row
						div.newPostWrap
							span New comment:
							form(action="{% url 'store.views.addComment' game.name %}", method="POST")
								| {% csrf_token %}
								textarea(name="content")
								input(type="submit", value="post")
		|{% if canRate %}
		|{% usekwacro addRatingArea request.session.username %}
		|{% endif %}

	|{% usekwacro tabs wingames linuxgames macosgames %}
			
	script(type='text/javascript', src='#{STATIC_URL}js/index.js')