extends base.jade

{% load kwacros %}
{% loadkwacros macros.html %}

block content
	div.topContent
		div.col1
			div.flexslider.slider-index
				ul.slides
					li
						a(href="/game/{{ newarrival.name }}")
							img(src="{{ newarrival.logo.url }}")
						span.gamename.hidden {{ newarrival.name }}
						span.gameCategory.hidden New Arrival
						span.gamedescription.hidden {{ newarrival.description }}
						div.gameplatforms.hidden
							|{% for platform in newarrival.platform.all %}
							|{% if platform.name == "Windows" %}
							|	<span class="platform-windows"></span>
							|{% endif %}
							|{% if platform.name == "Linux" %}
							|	<span class="platform-linux"></span>
							|{% endif %}
							|{% if platform.name == "Mac OS" %}
							|	<span class="platform-mac"></span>
							|{% endif %}
							|{% endfor %}
					li
						a(href="/game/{{ toprated.name }}")
							img(src="{{ toprated.logo.url }}")
						span.gamename.hidden {{ toprated.name }}
						span.gameCategory.hidden Top Rated
						span.gamedescription.hidden {{ toprated.description }}
						div.gameplatforms.hidden
							|{% for platform in toprated.platform.all %}
							|{% if platform.name == "Windows" %}
							|	<span class="platform-windows"></span>
							|{% endif %}
							|{% if platform.name == "Linux" %}
							|	<span class="platform-linux"></span>
							|{% endif %}
							|{% if platform.name == "Mac OS" %}
							|	<span class="platform-mac"></span>
							|{% endif %}
							|{% endfor %}
					li
						a(href="/game/{{ mostdownloaded.name }}")
							img(src="{{ mostdownloaded.logo.url }}")
						span.gamename.hidden {{ mostdownloaded.name }}
						span.gameCategory.hidden Most Downloaded
						span.gamedescription.hidden {{ mostdownloaded.description }}
						div.gameplatforms.hidden
							|{% for platform in mostdownloaded.platform.all %}
							|{% if platform.name == "Windows" %}
							|	<span class="platform-windows"></span>
							|{% endif %}
							|{% if platform.name == "Linux" %}
							|	<span class="platform-linux"></span>
							|{% endif %}
							|{% if platform.name == "Mac OS" %}
							|	<span class="platform-mac"></span>
							|{% endif %}
							|{% endfor %}
			div.previewDetails
				div.previewName Odium
				div.previewCategory New arrival
				div.previewDescription
					| I was born from nothing. The only thing i feel is hatred. Hatred towards this sound. I must stop it, i WILL stop it.
				

		div.specialOffers.col2
			div.offersHeader
				span Special Offers
			ul.offersList
				each game in featured
					|{% usekwacro rightGameTile game %}
			a(href=/games").moreOffers
				span More offers

	|{% usekwacro tabs wingames linuxgames macosgames %}

	script(type='text/javascript', src='#{STATIC_URL}js/index.js')