extends base.jade

block content
	div.topContent
		span.title Login
	div.loginForm
		form(action="{% url 'store.views.verify' %}", method="POST")
			{% csrf_token %}
			div.row
				label(for="username") Username
				input(type="text", name="username")
			div.row
				label(for="username") Password
				input(type="password", name="password")
			div.row
				input(type="submit", value="Login")#submit