{% load kwacros %}
{% load gametags %}

{% comment %}
    GAME TILE
{% endcomment %}
{% kwacro gameTile game %}
		<div class="tile">
		<a href="/game/{{ game.name }}"><img src="{{ game.logo.url }}"></a>
      <div class="tileDetails"><a href="/game/{{ game.name }}">
          <div class="name">{{ game.name }}</div></a>

		  {% if game.price > 0 %}
			<div class="price">${{ game.price }}</div>
  		{% else %}
  		<div class="price">FREE</div>
  		{% endif %}

      {% userowns request.session.username game %}
            
		{% for platform in game.platform.all %}
		{% if platform.name == "Windows" %}
		<span class="platform-windows"></span>
		{% endif %}
		{% if platform.name == "Linux" %}
		<span class="platform-linux"></span>
		{% endif %}
		{% if platform.name == "Mac OS" %}
		<span class="platform-mac"></span>
		{% endif %}
		{% endfor %}
        </div>
      </div>
    </div>
{% endkwacro %}


{% comment %}
    RIGHT GAME TILE
        li
          div.offerLeftPart
            img(src="#{STATIC_URL}img/test/mirrorsedge.jpg")
            span.offerPrice free
          div.offerRightPart
            div.offerRightPartTable
              span.offerNameWrap  
                span.offerName Mirror's edge
              div.offerPlatforms
                div.offerPlatformsCell
                  a.offerDownload(href="http://www.google.com")
                  div.platforms
                    span.platform-windows
                    span.platform-linux
                    span.platform-mac
{% endcomment %}
{% kwacro rightGameTile game %}
		<li>
        <div class="offerLeftPart"><a href="/game/{{ game.name }}"><img src="{{ game.logo.url }}"></a>
    		  {% if game.price > 0 %}
        	<span class="offerPrice">${{ game.price }}</span>
        	{% else %}
        	<span class="offerPrice">FREE</span>
        	{% endif %}
        </div>
        <div class="offerRightPart">
          <div class="offerRightPartTable"><span class="offerNameWrap"><a href="/game/{{ game.name }}"><span class="offerName">{{ game.name }}</span></a></span>
            <div class="offerPlatforms">
              <div class="offerPlatformsCell"><a href="/game/{{ game.name }}" class="offerDownload"></a>
                <div class="platforms">
                	{% if game.isOwned %}
                  <a href="/game/{{ game.name }}"><span class="download"></span></a>
                  {% else %}
                  <a href="/game/{{ game.name }}"><span class="buy"></span></a>
                  {% endif %}
        	{% for platform in game.platform.all %}
					{% if platform.name == "Windows" %}
					<span class="platform-windows"></span>
					{% endif %}
					{% if platform.name == "Linux" %}
					<span class="platform-linux"></span>
					{% endif %}
					{% if platform.name == "Mac OS" %}
					<span class="platform-mac"></span>
					{% endif %}
					{% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
{% endkwacro %}

{% comment %}
    CART TILE
{% endcomment %}
{% kwacro cartTile game %}
    <div class="tile">
    <a href="/game/{{ game.name }}"><img src="{{ game.logo.url }}"></a>
    
    <div class="tileDetails">

    <a href="/game/{{ game.name }}">
    
    <div class="name">{{ game.name }}</div>

    </a>
    
    <div class="price">${{ game.price }}</div>

    <a href="/cart/{{ game.name }}/remove"><div class="remove">Remove</div></a>
        </div>
      </div>
    </div>
{% endkwacro %}

{% comment %}
    SCREENSHOTS
{% endcomment %}
{% kwacro screenshot game %}
    <div class="flexslider slider-game">
          <ul class="slides">
              <li>
                <img src="{{ MEDIA_URL }}game_logos/{{ game.name }}/1.jpg">
              </li>
              <li>
                <img src="{{ MEDIA_URL }}game_logos/{{ game.name }}/2.jpg">
              </li>
              <li>
                <img src="{{ MEDIA_URL }}game_logos/{{ game.name }}/3.jpg">
              </li>
            <ul>
    </div>

    <div class="previewDetails">
      <div class="previewName">{{ game.name }}</div>
      <div class="previewRating"><span class="ratingStar"></span>{{ game.getRating }}</div>
      <div class="previewDescription">
        Published at: {{ game.pub_date.date }}</br>
        Publisher: {{ game.publisher }}</br>
        Developers: {% for dev in game.developer.all %}
                    <span>{{ dev }}</span></br>
                    {% endfor %}
        Description: {{ game.description }}
      </div>
      <a href="/forum/{{ game.name }}" class="previewForum">
        <span class="forum-icon"></span>
        <span class="forum">Forum</span>
      </a>
      <div class="previewPlatform">

        {% if game.isOwned %}
        <a href="/download/{{ game.name }}">
        <span class="download"></span>
        <span class="download-text">Download</span></a>
        {% elif inCart %}
        <a href="/cart">
        <span class="buy"></span>
        <span class="download-text">Game in cart</span></a>
        {% else %}
        <a href="/game/{{ game.name }}/buy">
        <span class="buy"></span>
        <span class="download-text">Buy</span></a>
        {% endif %}

        <div class="platforms">
          {% for platform in game.platform.all %}
          {% if platform.name == "Windows" %}
          <span class="platform-windows"></span>
          {% endif %}
          {% if platform.name == "Linux" %}
          <span class="platform-linux"></span>
          {% endif %}
          {% if platform.name == "Mac OS" %}
          <span class="platform-mac"></span>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
{% endkwacro %}


{% comment %}
    TABS - using gameTile kwacro
{% endcomment %}
{% kwacro tabs wingames linuxgames macosgames %}
<div id="midContent">
  <div class="tabs"><a href="#" data-tab="windows">
      <div class="windows active"><span class="icon"></span><span class="tabText">windows games</span>
      </div></a><a href="#" data-tab="linux">
      <div class="linux"><span class="icon"></span><span class="tabText">linux games</span>
      </div></a><a href="#" data-tab="mac">
      <div class="mac"><span class="icon"></span><span class="tabText">mac games</span>
      </div></a>
  </div>
  <div data-tab="windows" class="grid tabContent">
    

        {% for game in wingames %}
        {% usekwacro gameTile game %}
        {% endfor %}


  </div>

  <div data-tab="linux" class="grid tabContent hidden">
    

         {% for game in linuxgames %}
        {% usekwacro gameTile game %}
        {% endfor %}


  </div>
  <div data-tab="mac" class="grid tabContent hidden">

        {% for game in macosgames %}
        {% usekwacro gameTile game %}
        {% endfor %}

  </div>
</div>
{% endkwacro %}

{% comment %}
    COMMENTS
{% endcomment %}

{% kwacro singleComment comment %}

      <div class="row">
        <div class="userInfo">
          <a href="/user/{{ comment.user.id }}" class="username">{{ comment.user.username }}</a>
          <a href="/game/{{ comment.game.name }}" class="gamelink">{{ comment.game.name }}</a>
          <span class="time"> {{ comment.timePosted }} </span>
        </div>
        <p class="postContent">{{ comment.content }}</p>
      </div>

{% endkwacro %}

{% kwacro displayComments comments %}
    <div class="col1 commentArea">
    <h3>Comments</h3>
    <div class="comments">
      {% for comment in comments.all %}
        {% usekwacro singleComment comment %}
      {% endfor %}
    </div>
  </div>
{% endkwacro %}

{% kwacro addRatingArea user %}

  <div class="col1 ratingArea">

    <h3>Rate this game!</h3>
    <form action="{% url 'store.views.addRating' game.name %}" method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="radio" name="rating" value="1">1
    <input type="radio" name="rating" value="2">2
    <input type="radio" name="rating" value="3">3
    <input type="radio" name="rating" value="4">4
    <input type="radio" name="rating" value="5">5
    <input type="submit" value="post"/>
    </form>

  </div>

{% endkwacro %}


{% kwacro moneyfield %}

  
  <form action="{% url 'store.views.addCash' %}" method="POST">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  Add amount: <input type="text" name="amount">
  <input type="submit" value="post"/>
  </form>

{% endkwacro %}