extends base.jade

{% load kwacros %}
{% loadkwacros macros.html %}

block content
	div.topContent
		span.title #{publisher.name}
	div.topContent
		div.col1
			div.textDetails
				img(src="#{publisher.logo.url}")
				p.info
					| #{publisher.description}

		div.specialOffers.col2
			div.offersHeader
				span Popular Games By #{publisher.name}
			ul.offersList
				each game in populargames
					|{% usekwacro rightGameTile game %}

			a(href="google.com").moreOffers
				span More Popular Games

	span.title.devGamesTitle Games by this publisher
	
	|{% usekwacro tabs wingames linuxgames macosgames %}


	script(type='text/javascript', src='#{STATIC_URL}js/index.js')