extends base.jade

block content
	div.topContent
		span.title Publishers
	div#midContent
		each publisher in publishers
			div.tile
				a(href="/publisher/{{ publisher.name }}")
					img(src="{{ publisher.logo.url }}")
				div.tileDetails
					a(href="/publisher/{{ publisher.name }}")
						div.devName #{publisher.name}
					a(href="/publisher/{{ publisher.name }}").devGames Games