extends base.jade

block content
	div.topContent
		span.title Game Stats
		|Top 10 games by rating
	div#midContent
		each game, i in toprated
			if game
				span {{i}}. {{game}}
				br
	div.topContent
		|Top 10 games by purchase

	div#midContent
		each game, i in mostbought
			if game
				span {{i}}. {{game}}
				br

	div.topContent
		|10 most recent games

	div#midContent
		each game, i in mostrecent
			if game
				span {{i}}. {{game}}
				br


	div.topContent
		span.title Forum Stats
		|Top 10 gamed by forums activity


	div#midContent
		each game, i in mostactive
			if game
				span {{i}}. {{game}}
				br


	div.topContent
		|Top 10 users by forums activity


	div#midContent
		each user, i in mostactiveusers
			if user
				span {{i}}. {{user}}
				br


	div.topContent
		span.title User Stats
		|Top 10 users by number of owned games

	div#midContent
		each user, i in topusers
			if user
				span {{i}}. {{user}}
				br