extends base.jade

block content
	div.topContent
		span.title 
			a(href="{% url 'store.views.forum' thread.category.forum.game.name %}")
				|#{thread.category.forum.game.name} forum
			|>
			a(href="{% url 'store.views.forumCategory' thread.category.forum.game.name thread.category.name %}")
				|#{thread.category.name}
			|> #{thread.name}
		div.forumNavigation
			- if page != 0
				a(href="{% url 'store.views.thread' thread.id prevpage %}").previousPage
					<

			- if page != numPages
				a(href="{% url 'store.views.thread' thread.id nextpage %}").nextPage
					>
	div#midContent
		div.tabContent
			each post in posts
				div.row
					div.postActions
						- if post.user.id == request.session.userId or isAdmin
							a(href="{% url 'store.views.deletePost' post.id %}").deleteLink
								span.deleteIcon
					div.post
						div.userInfo
							a(href="{% url 'store.views.user' post.user.id %}").username #{post.user.username}
							span.time #{post.timePosted}
						p.postContent #{post.content}
			if request.session.userId
				div.row
					div.newPostWrap
						span New post:
						form(action="{% url 'store.views.createPost' thread.id %}", method="POST")
							| {% csrf_token %}
							textarea(name="content")
							input(type="submit", value="post")

	div.bottomContent.forumNavigation
		- if page != 0
			a(href="{% url 'store.views.thread' thread.id prevpage %}").previousPage
				<

		- if page != numPages
			a(href="{% url 'store.views.thread' thread.id nextpage %}").nextPage
				>