extends base.jade

{% load kwacros %}
{% loadkwacros macros.html %}

block content
	div.topContent
		span.title {{ storeuser.username }} - Credits: ${{ storeuser.credit }}
		a(href="/user/addCash").clearLink
			|Add cash to account
	div#midContent
		div.tabContent
			div.row#gamesOwned
				span Games Owned
		div.tabContent
			{% for game in storeuser.gamesOwned.all %}
			{% usekwacro gameTile game %}
			{% endfor %}
	div.tabContent
		div.row#gamesOwned
			span Comments made
	div.tabContent
		{% usekwacro displayComments comments %}
			